<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>ログイン</h1>
    
    <!-- エラーメッセージ表示 -->
    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>
    
    <form th:action="@{/login}" th:object="${loginForm}" method="post">
        <div>
            <label for="userId">ユーザーID：</label>
            <input type="text" th:field="*{userId}" id="userId" required>
        </div>
        <div>
            <label for="pass">パスワード：</label>
            <input type="password" th:field="*{pass}" id="pass" required>
        </div>
        <div>
            <input type="submit" value="ログイン">
        </div>
    </form>
    <br>
    <a href="/">トップページに戻る</a>
</body>
</html>