# 特定のIDEディレクトリ
#/.settings/
#/.classpath
/.idea/
*.iml
*.ipr
*.iws

# Eclipse特有のファイル
*~.nib
*.swp
*.bak
*.tmp
*.orig
*.rej

# MavenやGradleのフォルダ
/target/
/build/

# サーバーのランタイムファイル
/.tomcat/

# 動的Webプロジェクトに特化
/.apt_generated/
/.factorypath

# Eclipseプロジェクトファイル
#/.project

# その他
/tmp/
.logs/